<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>List Product</title>
    <style>
        section{
            min-height: 100vh;
            padding: 0 100px;   
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
    </style>
</head>
<body>
    <%- include('components/navbar') %>
    <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <p><%= error %></p>
        </div>
    <% } %>
    <section class="jumbotron mb-5">
        <img src="/jumbotron.png" class="img-fluid jumbotron mb-5" alt="jumbotron">
        <div class="category d-flex flex-column mt-5 gap-3">
            <h1 class="text-center mb-5">Categories</h1>
            <div class="d-flex align-items-center gap-4">
                <% categories.forEach(el => { %>
                    <div class="d-flex flex-column align-items-center">
                        <a href="/products?category=<%= el.id %>">
                            <img src="/c-<%= el.id %>.png" class="rounded" alt="thumbnail">
                        </a>
                        <span style="font-size: 14px;"><%= el.name %></span>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <section id="sale">
        <div class="my-5 text-center">
            <h1 class="mb-2">Product</h1>
            <span>Grab It Before It’s Too Late</span>
        </div>
        <form action="/products#product" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="search..." name="search" id="search">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">search</button>
            </div>
        </form>
        <div class="container" id="product">
            <div class="d-flex flex-wrap g-4">
                <% data.forEach((el, index) => { %>
                    <div class="col">
                        <div class="card-product">
                            <img src="<%= el.imageUrl %>" alt="img" width="286px" height="196px">
                            <div class="product-desc">
                                <h6 class=""><%= el.name %></h6>
                                <div class="mb-2" style="font-size: 14px;">
                                    <p class="overflow-hidden text-truncate text-secondary"><%= el.description %></p>
                                    <p class="fw-bold"><%= formatCurrency(el.price) %></p>
                                    <p>Stock: <%= el.stock %></p>
                                    <p>Category: <%= el.Category.name %></p>
                                </div>
                                <p>
                                    <% if (locals.user.role === 'admin') { %>
                                        <a href="/products/<%= el.id %>/edit">
                                            <button class="btn btn-sm btn-outline-primary" type="button">Edit</button>
                                        </a>
                                        <a href="/products/<%= el.id %>/delete">
                                            <button class="btn btn-sm btn-outline-danger" type="button">Delete</button>
                                        </a>
                                    <% } %>
                                    <a href="/products/<%= el.id %>/detail">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <%- include('components/footer') %>
</body>
</html>